allow audioserver sysfs:dir {open read};
allow audioserver vendor_data_file:dir {add_name write create};
allow audioserver vendor_data_file:file {read append create open getattr};
