allow tee fingerprintd_data_file:file { read open };
allow tee system_prop:property_service set;
allow tee persist_file:file r_file_perms;
allow tee system_data_file:dir {read open};
allow tee fingerprintd_data_file:dir read;
