get_prop(time_daemon, diag_prop);

allow time_daemon persist_file:file { open read write };
allow time_daemon sysfs:file {open read};

allow time_daemon self:capability sys_admin;
allow time_daemon time_data_file:dir search;
allow time_daemon time_data_file:file { read write open };
