allow untrusted_app_25 init:unix_stream_socket { read write };

allow untrusted_app_25 self:udp_socket ioctl;
allow untrusted_app_25 vold_exec:file read;

get_prop(untrusted_app_25, vendor_camera_prop);
