allow vendor_dataservice_app hal_cne_hwservice:hwservice_manager find;
binder_call(vendor_dataservice_app, cnd)

allow vendor_dataservice_app cnd_data_file:file r_file_perms;
allow vendor_dataservice_app cnd_data_file:dir search;

